DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres?sslmode=disable&pgbouncer=true&schema=public"
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres?sslmode=disable&schema=public"
AUTH_SECRET="change-me-to-a-long-random-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
BIT_PAYMENT_URL="https://www.bitpay.co.il/app/business/example"
NEXT_PUBLIC_FIREBASE_API_KEY="AIza..."
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="event-invites-13a7b.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="event-invites-13a7b"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="event-invites-13a7b.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="462917641500"
NEXT_PUBLIC_FIREBASE_APP_ID="1:462917641500:web:e9a74f511762116f8806d9"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-B9TM8HY3T0"
FIREBASE_PROJECT_ID="event-invites-13a7b"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="462917641500-k7ggrr0deni8855u24ivv4hpmhc8c1bh.apps.googleusercontent.com"
GOOGLE_CLIENT_ID="462917641500-k7ggrr0deni8855u24ivv4hpmhc8c1bh.apps.googleusercontent.com"
